Description='Ansible generated profile for "{{ wifi_essid }}"'
Interface={{ wifi_interface }}
Connection={{ wifi_connection }}
Security={{ wifi_security }}
ESSID={{ wifi_essid }}
IP={{ wifi_ip }}
Key={{ wifi_key }}
